﻿@using EntityLayer;
@{
    ViewData["Title"] = "RoleManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section scripts{
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/Role/RoleManagement.js"></script>
    <script src="~/js/Role/UpdateRole.js"></script>
    <script src="~/js/Role/DeleteRole.js"></script>
}
<div class="container-fluid bg-white main-container">
    @*<div class="fade-alert" id="responseMsg" role="alert">

        </div>*@
    @*<div class="alert alert-success fade-alert" id="responseMsg" role="alert">

        </div>*@
    @*<div class="alert alert-danger fade-alert" id role="alert">
            Error.
        </div>*@
    <div class="form-group text-right">
        <button class="btn btn-aqua mr-10" data-toggle="modal" data-target="#createRole"><i class="fa fa-plus"></i> Create Role</button>
        @*<button class="btn btn-aqua"><i class="fa fa-gears"></i> Settings </button>*@
    </div>
    <div class="management-table">
        <table id="roleManagementTables" class="table table-bordered-collapsed table-hover table-striped" style="width:100%">
            <caption class="title">Role Management</caption>
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Role Created Date</th>
                    <th>Role Created By</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @*@if (ViewData["RoleList"] != null)
                    {
                        @foreach (var item in ViewData["RoleList"] as List<Role>)
                        {
                            <tr>
                                <td>@item.RoleName</td>
                                <td>@item.CreatedOn</td>
                                <td>@item.UserId</td>
                                <td><a href="" data-id="@item.RoleId" onclick="CallEdit(@item.RoleId)" class="edit" data-toggle="modal" data-target="#editRole"><i class="fa fa-2 fa-pencil"></i></a></td>
                                <td><a href="" data-id="@item.RoleId" onclick="DeleteRole(@item.RoleId)" class="delete" data-toggle="modal" data-target="#deleteRole"><i class="fa fa-2 fa-trash"></i></a></td>
                            </tr>
                        }
                    }*@
            </tbody>
        </table>
    </div>
</div>

<input id="hdnRoleId" type="hidden" />

<div class="modal fade" id="createRole">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Create Role</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" onclick="return Reset()" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Role Name <span class="star">*</span></label>
                            <span id="spnCRoleName" class="text-danger"></span>
                            <input type="text" name="txtCRoleName" id="txtCRoleName" maxlength="20" onkeypress="return alphaOnly(event)" class="form-control" placeholder="Role Name" />
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" id="btnCreateRole" class="btn btn-aqua btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editRole">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Edit Role</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" onclick="return Reset()" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Role Name <span class="star">*</span></label>
                            <span id="spnERoleName" class="text-danger"></span>
                            <input id="txtURoleId" name="RoleIdd" type="hidden" value="" />

                            <input type="text" id="txtERoleName" name="txtERoleName" maxlength="20" onkeypress="return alphaOnly(event)" class="form-control" placeholder="Role Name" />
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" id="btnUpdateRoleName" class="btn btn-aqua btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteRole">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Delete Role</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Are you sure you want to delete Role?</label>
                            <input id="DeleteRoleId" name="DeleteRoleId" type="hidden" value="" />
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="button" class="btn btn-aqua btn-sm" id="btnDeleteRoleYes">Yes</button>
                    <button type="button" class="btn btn-aqua btn-sm" id="btnDeleteRoleNo">No</button>
                </div>
            </div>
        </div>
    </div>
</div>


