﻿@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Indusind Recon Panel</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="~/assets/css/fonts.googleapis.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/assets/css/stackpath.bootstrapcdn.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/bootstrap.min.css" />
    <link href="~/assets/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/assets/css/buttons.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css" />
    <link href="~/css/MyCSS.css" rel="stylesheet" />


    @*Script*@
    @section scripts{
        <script src="~/assets/js/jquery-3.3.1.js"></script>
        <script src="~/js/jquery.blockUI.min.js"></script>
        <script type="text/javascript" src="~/assets/js/script.js"></script>
        <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
        <script src="~/assets/js/jquery.dataTables.min.js"></script>
        <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/assets/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="~/assets/js/script.js"></script>
        <script src="~/js/Helper/Main.js"></script>
        <script src="~/js/Helper/CustomFunction.js"></script>
        <script src="~/js/Login.js"></script>

    }


</head>


<body class="dashboard">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 logo p-0">
                    <img src="~/assets/images/logo.jpg" alt="logo" style="width:100%" />

                </div>
                
                <div class="col-8 text-center align-self-center">
                   <div class="main-title">IMPS RECON PANEL</div>

                </div>
                <div class="col-2 text-center">
                    @if (@HttpContextAccessor.HttpContext.Session.GetString("LoginUser") == null)
                    {
                        <div class="user-login" id="HoverLogout">
                            <span class="user-icon"><img src="~/assets/images/user-circle-gray.svg" alt="user login" /></span>  <span><img src="~/assets/images/angle-down.svg" alt="down angle"></span>
                        </div>
                    }
                    else
                    {
                        <div class="user-login" id="HoverLogout">

                            <span class="user-icon"><img src="~/assets/images/user-circle-gray.svg" alt="user login" /></span><button class="logoutdropbtn"><b> @Context.Session.GetString("LoginUser")</b></button> <span><img src="~/assets/images/angle-down.svg" alt="down angle"></span>
                            @*<div class="dropdown-content">
                       <a href="@Url.ActionLink("Logout", "Login")"><b>Logout</b></a>
                    </div>*@
                        </div>

                    }
                    @*<div class="user-login">
                <span class="user-icon"><img src="~/assets/images/user-circle-gray.svg" alt="user login" /></span> Antonin Hafer <span><img src="~/assets/images/angle-down.svg" alt="down angle"></span>
            </div>*@

                </div>
            </div>
        </div>
    </header>
    <div class="user-options ChangeLogout" id="showLogout">
        <a class="alogout" href="@Url.ActionLink("Logout", "Login")"><b style="text-decoration:none">Logout</b></a>
        @*<ul>
                <li>Logout</li>
            </ul>*@
    </div>
    @*<div class="user-options" style="display:block">
            <div>
                <a href="@Url.ActionLink("Logout", "Login")"><b>Logout</b></a>
            </div>
        </div>*@
    @*<div id="ShowLogout" class="user-options" style="display:block">
                <div class="dropdown-content">
                    <a href="@Url.ActionLink("Logout", "Login")"><b>Logout</b></a>
                </div>
        </div>*@
    @*<div class="user-options" style="display:block">
            <ul>
                    <li href="@Url.ActionLink("Logout", "Login")"><b>Logout</b></li>
                </ul>
            <ul>
                <li>
                    <a href="@Url.ActionLink("Logout", "Login")"><b>Logout</b></a>
                </li>
             </ul>
        </div>*@
    <nav class="navbar navbar-expand-md navbar-light bg-white">
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-12 collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a id="Dash_ID" href="@Url.Action("Index","Home")" class="nav-item nav-link ">
                    <i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard
                </a>
                <a id="RM_ID" href="@Url.Action("RoleManagement","Role")" class="nav-item nav-link ">
                    <i class="fa fa-cog" aria-hidden="true"></i> Role Management
                </a>
                <a id="UM_ID" href="@Url.Action("UserManagement","User")" class="nav-item nav-link">
                    <i class="fa fa-user-o" aria-hidden="true"></i> User Management
                </a>
                <a id="IR_ID" href="@Url.Action("NtslRawFile","Recon")" class="nav-item nav-link ">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> INSTL RAW File
                </a>
                <a id="Reports_ID" href="@Url.Action("ReconReport","Reports")" class="nav-item nav-link ">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i> Reports
                </a>
                <a id="NBIN_ID" href="@Url.Action("Index","NBIN")" class="nav-item nav-link">
                    <i class="fa fa-inr" aria-hidden="true"></i> NBIN IFSC Management
                </a>
                <a id="PM_ID" href="@Url.Action("PartnerManagement","Partner")" class="nav-item nav-link ">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i> Partner Management
                </a>
                <a id="Adjustment_ID" href="@Url.Action("Index","AdjustmentFileManagement")" class="nav-item nav-link ">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i> Adjustment File
                </a>
            </div>
        </div>
    </nav>

    <section class="main-wrapper">
        @RenderBody()
        @RenderSection("scripts", false)
    </section>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - IndusIndAdmin - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@
</body>
</html>
