﻿@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
   
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/JsForNBIN/NBINValidation.js"></script>
    <script src="~/js/JsForNBIN/UpdateNBIN.js"></script>
    <script src="~/js/JsForNBIN/CheckNBIN.js"></script>
}

<div class="container-fluid bg-white main-container">
    @*<div id="success" class="alert alert-success fade-alert" role="alert">
            <h3><b>Hello</b></h3>
            <h3><b>@SessionStateTempDataProvid</b></h3>
        </div>*@
    <div class="form-group text-right">
        <button class="btn btn-aqua mr-10" data-toggle="modal" data-target="#createNBIN"><i class="fa fa-plus"></i> Create NBIN</button>
        <button class="btn btn-aqua"><i class="fa fa-download"></i> Download All </button>
    </div>
    <div class="management-table">
        <table id="NBINTablesID" class="table table-bordered-collapsed table-hover table-striped" style="width:100%">
            <caption class="title">NBIN IFSC MANANGEMENT</caption>
            <thead>
                <tr>
                    <th>BANK NAME</th>
                    <th>BANK SHORT CODE</th>
                    <th>NBIN</th>
                    <th>IFSC</th>
                    <th>EDIT NBIN</th>
                    <th>CHECK AND REJECT NBIN</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
        <div id="buttons"></div>
    </div>
</div>


<div class="modal fade" id="createNBIN">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Create NBIN</span></h4>
                <button id="closee" onclick="clearNBINbox()" type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                @*<form asp-controller="NBIN" asp-action="CreateNBIN" method="post">*@
                <!-- Input and Submit elements -->
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label">Enter Bank Name <span class="star">*</span></label>
                            <label id="lblBanknameMgs" style="background-color:#f55b31" class="label  border-danger"></label>
                            <input  class="form-control" placeholder="Bank Name" id="txtBankName" maxlength="70" />
                        </div>
                        <div class="form-group">
                            <label class="label">Enter Bank Short Code </label>
                            <label  style="background-color:#f55b31" class="label  border-danger"></label>
                            <input  class="form-control" placeholder="Bank Short Code" id="txtShortCode" maxlength="10" />
                        </div>
                        <div class="form-group">
                            <label class="label">Enter NBIN <span class="star">*</span></label>
                            <label id="lblNBINMgs" style="background-color:#f55b31" class="label  border-danger"></label>
                            <input class="form-control" placeholder="NBIN" id="txtNBIN" maxlength="4" />
                        </div>
                        <div class="form-group">
                            <label class="label">Enter IFSC <span class="star">*</span></label>
                            <label id="lblIFSCMgs" style="background-color:#f55b31" class="label  border-danger"></label>
                            <input class="form-control" placeholder="IFSC" id="txtIFSC" maxlength="11" />
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="NBINCreate">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editNbin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Edit NBIN</span></h4>
                <button id="closeEditbutton" onclick="ClearEditNBIN()" type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">

                        <div class="form-group">
                            <label class="label">Enter Bank Name</label>
                            <label id="lblEditBanknameMgs" style="background-color:#f55b31" class="label  border-danger"></label>
                            <input id="txtEditBankname" type="text" name="txtEditBankname" class="form-control" placeholder="Bank Name" maxlength="70" />
                        </div>
                        <div class="form-group">
                            <label class="label">Enter Bank Short Code</label>
                            <input id="txtEditBankcode" type="text" name="txtEditBankcode" class="form-control" placeholder="Bank Short Code" maxlength="10" />
                        </div>
                        <div class="form-group">
                            <label class="label">Enter IFSC</label>
                            <label id="lblEditIFSCMgs" style="background-color:#f55b31" class="label  border-danger"></label>
                            <input id="txtEditIFSC" type="text" name="txtEditNBIN" class="form-control" placeholder="IFSC" maxlength="11" />
                        </div>
                        <div class="form-group">
                            <label class="label">NBIN</label>

                            <input id="txtEditNBIN" type="text" name="txtEditNBIN" class="form-control" placeholder="NBIN" maxlength="4" readonly="readonly" />
                        </div>

                    </div>
                </div>
                <div class="text-right">
                    <button id="btnUpdateNBIN" type="submit" class="btn btn-aqua btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="checkNbin">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title"></span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        Maker cannot check.
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

