@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
	background: #f4f4f4;
	font-size: 14px;
	font-weight: normal;
	font-family: roboto;
	opacity: 0.9;
	color: #333333;
}
.header{
	background: #fff;
	padding: 8px 15px 7px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
 	background-color: #ffffff;
 	position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}
.logo img{
	height: 40px;
    object-fit: cover;
}
.main-title{
	line-height: 1.71;
	letter-spacing: 0.44px;
	text-transform: uppercase;
	font-weight: 700;
}
/* login styles starts*/
.login-wrapper{
	padding: 70px 0px;
	min-height: 500px;
    height: auto;
    margin:auto;
}
.login-details .title{
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.72px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.login-details{
	padding:60px;
	background: #fff;
	height: 100%;
    box-shadow: 0px 0px 6px 6px rgba(186,186,187,0.2)
}
.login-content{
	padding: 30px 20px 60px;
}
.enter-field{
	margin-bottom: 40px;
}
.btn-aqua{
	background: #1bc0a7;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 6px 20px;
	position: relative;
	z-index: 1;
}
.btn-red{
	background: #ce0b12;
	color: #fff;
	letter-spacing: 1px;
	font-weight: 500;
	padding: 6px 20px;
	position: relative;
	z-index: 1;
}
.btn-aqua:after{
	content: "";
	position: absolute;
	background: #2ca794;
	width: 100%;
	height: 0px;
	bottom: 0;
	left: 0;
	transition: all 0.5s;
	z-index: -1;
}
.btn-red:after{
	content: "";
	position: absolute;
	background: #af0309;
	width: 100%;
	height: 0px;
	bottom: 0;
	left: 0;
	transition: all 0.5s;
	z-index: -1;
}
.btn-aqua:hover:after, .btn-red:hover:after{
height: 100%;
}
.link {
    border-top: 1px solid #ddd;
    padding: 20px 0px;
}
.link a{
	color: #4162f1;
	font-weight: 500;
	letter-spacing: 1px;
}
input.gray-border, select.gray-border{
	border: 1px solid #d8d8d8;
	border-radius: 6px;
	font-size: 12px;
	color: #393939;
	padding: 10px 14px;
}
.password-input{
	position: relative;
}
.view-password{
	background: url('../images/eye-slash.svg') no-repeat;
	position: absolute;
	width: 24px;
	height: 24px;
	right: 16PX;
	top:8px;
	border: none;
	cursor: pointer;
}
button:focus{
	box-shadow: none;
	outline: none;
}
.error{
 	position: relative;
}
.error:after{
	content: "";
	position: absolute;
	background: url('../images/error-circle-red.svg') no-repeat;
	width: 16px;
    height: 16px;
    right: -25px;
    top: 14px;
}
.error-msg{
	color: #ed1c24;
	font-size: 12px;
  	font-weight: 500;
  	letter-spacing: 0.09px;
  	text-align: center;
  	margin: 10px 0px;
}
.btn-aqua-light{
	background: rgba(27, 192, 167, 0.15);
	border: 1px solid #1bc0a7;
	color: #1bc0a7;
	padding: 12px;
}
/* login styles ends*/
/*user login header*/
.user-login{
 	font-size: 12px;
  	line-height: 1.33;
  	letter-spacing: 0.4px;
  	color: #212121;
}
.user-options{
	display: none;
	position: absolute;
    z-index: 10;
    width: 112px;
    background: #fff;
    right: 50px;
    top: 34px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
}
.user-options ul{
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0;
}
.user-options li{
  	font-size: 14px;
  	letter-spacing: 0.33px;
  	color: #333333;
  	padding: 15px 20px;
  	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.user-icon{
	margin-right: 12px;
}

/*dashboard navigation starts*/
.dashboard .navbar{
	border-top: solid 2px #eeeeee;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
    padding-bottom: 0px;
    position: fixed;
    top: 55px;
    width: 100%;
    z-index: 9;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link{
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.44px;
  color: #333333 !important;
  padding-right:20px;
  transition: all 0.5s;
  position: relative;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link:hover{
	color: #4162f1 !important;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link:after{
	content: "";
	position: absolute;
	background: #4162f1;
	height: 2px;
	width: 0px;
	bottom: 0;
	left: 0;
	transition: all 0.5s;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link:hover:after{
	width: 100%;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link.active{
	color: #4162F1 !important;
	border-bottom: 2px solid #4162f1;
}
.dashboard .navbar-expand-md .navbar-nav .nav-link.active:hover:after{
	content: none;
}
.default-icon, .active-icon {
    vertical-align: middle;
}
.active-icon{
	display: none;
}
.active .active-icon{
display: inline-block;
}
.active .default-icon{
	display: none;
}
.nav-icon{
	margin-right: 6px;
}
.main-wrapper{
	margin: 120px 20px 20px;
	box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.4);
	background-color: #ffffff;
	height: 80vh;
}
/* section styles starts*/
.main-container {
    padding-top: 30px;
    padding-bottom: 100px;
}
.main-wrapper .title{
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 15px;
  border: 1px solid #4162F1;
}
table .title{
	margin-bottom: 0px !important;
}
.section-sub-title{
	line-height: 1.14;
	letter-spacing: 0.5px;
	color: #212121;
	box-shadow: 0 1px 2px 0 rgba(208, 208, 208, 0.4);
  	background-color: #f8f8f8;
  	padding: 12px 15px;
  	margin-bottom: 25px;
}
.select-box select {
  opacity: 0.9;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.11px;
  color: #434343;
}
.select-box {
  position: relative;
}
.select-box:after {
  position: absolute;
  content:"";
  background: url('../images/dropdown.svg') no-repeat;
  width:20px;
  height: 20px;
  right: 20px;
  top: 8px;
}
.select-box{width: 100%}
/* This is to remove the arrow of select element in IE */
.select-box select::-ms-expand{ display: none; }
.select-box select{
  -webkit-appearance: none;
  appearance: none;
}
@-moz-document url-prefix() {
  .select-box{border: 1px solid #CCC; border-radius: 4px; box-sizing: border-box; position: relative; overflow: hidden;}
  .select-box select{width: 110%; background-position: right 30px center !important; border: none !important;}
}
.select-box .select2-container--default .select2-selection--multiple{
	    border: 1px solid #d8d8d8;
	    padding: 3px 14px;
}
caption{
caption-side: top;
}
#roleManagementTable{
	box-shadow: 0 0 2px 0 rgba(151, 151, 151, 0.4);
 
}
#roleManagementTable .fa{
	font-size: 16px;
}
table .title{
	background: #4162F1;
	padding:15px; 
	border: 1px solid #4162F1;
	color: #ffffff;
}
.dataTables_wrapper{
	position: relative;
	width: 100%;
}
.dataTables_filter label{
	position: relative;
}
.dataTables_filter label:after{
	content: "";
	background: url('../images/search.svg') no-repeat;
	position: absolute;
	width: 24px;    
	height: 24px;
    left: 14px;
    top: 5px;
}
div.dataTables_wrapper div.dataTables_filter input{
	padding-left: 35px;
	color: #979797;
	font-size: 12px;
	letter-spacing: 0.5px;
}
.page-link{
	border: none;
	color: #999999;

}
.page-item.active .page-link{
	color: #333333;
	background: transparent;
	border:1px solid #d5dadf;
}
div.dataTables_wrapper div.dataTables_length select{
	width: 125px;
}
#roleManagementTable thead, #retailerTable thead{
  box-shadow: 0 1px 2px 0 rgba(208, 208, 208, 0.4);
  background-color: #f8f8f8;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #212121;
}
#roleManagementTable tbody,#retailerTable tbody{
  font-size: 12px;
  letter-spacing: 0.5px;
  color: #000000;
}
#roleManagementTable thead th:first-child{
	padding-left: 30px;
}
#roleManagementTable tbody td:first-child{
	padding-left: 30px;
}
.table-footer{
	margin-top: 10px;
	padding: 20px 20px 0px;
	border-top: 2px solid rgba(151, 151, 151, 0.4);
}


#roleManagementTable thead span{
	color: #333;
	font-weight: normal;
	font-size: 12px;
	letter-spacing: 0.38px;
}
.mr-10{
	margin-right: 10px;
}
.mt-20{
	margin-top: 20px; 
}
div.tree-multiselect>div.selected{
	display: none !important;
}
div.tree-multiselect>div.selections{
	border-right: none;
}
div.tree-multiselect{
	width: 50%;
	max-height: 500px;
    overflow: auto;
    display: block;
    border: 1px solid #D8D8D8;
}
div.tree-multiselect>div.selections{
	width: 100%;
}
div.tree-multiselect div.title{
	background: transparent;
	color: #333;
	border: none;
}
#treemultiselect-0-0{
	display: none;
}
.management-table .table-hover tbody tr:hover, .compare-table .table-hover tbody tr:hover{
	background: rgb(239, 249, 247);
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(243, 243, 243, 0.41);
}
.edit, .delete, .check{
	color: #000;
	border: 1px solid transparent;
    padding: 6px;
    transition: all 0.5s;
}

.table-striped tbody tr:hover td a.edit, .table-striped tbody tr:hover td a.delete, .table-striped tbody tr:hover td a.check{
	border:1px solid #bbb;
}
.star, .error-text{
	color: #ed1c24;
}
.error-text{
	font-size: 11px;
	margin-bottom: 0px;
}
.edit:hover, .edit:active{
	border: 1px solid #4162f1 !important;
	color: #4162f1;
}
.delete:hover, .delete:active{
	border: 1px solid #ed1c24 !important;
	color: #ed1c24;
}
.check:hover, .check:active{
	border: 1px solid #1bc0a7 !important;
	color: #1bc0a7;
}
.alert-success a{
	color: #1bc0a7;
}
.input-group .form-control[readonly]{
	background: #fff;
}
.input-group .fa-calendar{
	color: #1bc0a7;
	margin-left: 10px;
	vertical-align: bottom;
}
.mb-60{
	margin-bottom: 60px;
}
.compare-table{
	margin:30px 0px;
}
.compare-table th{
	border: 1px solid #ddd;
	text-align: center;
}
.compare-table td{
	border: 1px solid #ddd;
	text-align: center
}
.compare-table th:first-child{
	text-align: left;
}
.compare-table td:first-child{
	text-align: left;
}
.compare-table table{
width: auto !important;
margin:20px auto;box-shadow: 0px 0px 3px 1px #eee;
}
.mismatch td{
	background-color: #ffeaea;
}
.table-striped tbody tr:nth-of-type(odd).mismatch td:first-child{
	background-color: :rgba(243, 243, 243, 0.41);
}
.table-striped tbody tr:nth-of-type(even).mismatch td:first-child{
	background:#fff !important;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
	left: 3px;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
	left:9px;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting{
	padding-left: 30px;
}
.inside-icon{
    position: absolute;
    right: 28px;
    top: 4px;
    z-index: 3;
}
div.tree-multiselect>div.selections div.item label {
	padding-left: 20px;
}

.option {
    position: relative;
    background-color: #dedede;
    display: inline;
}

.option:before {
  	content: "\f07c";
    font-family: "FontAwesome";
    color: #4162F1;
    position: absolute;
    top: -4px;
    left: 18px;
}

hr{
	margin-bottom: 30px;
}