﻿@model IEnumerable<EntityLayer.PartnerEL>
@*@model EntityLayer.PartnerViewModel*@


@section scripts{
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/Partner/PartnerManagement.js"></script>
}

<div class="container-fluid bg-white main-container">
    <div class="alert alert-success fade-alert" role="alert">
        Partner deleted successfully.
    </div>
    <div class="form-group text-right">
        <button class="btn btn-aqua" data-toggle="modal" data-target="#newPartner"><i class="fa fa-plus"></i>  New Partner</button>
    </div>
    <div class="management-table">
        <table id="partnerManagementTable" class="table table-bordered-collapsed table-hover table-striped" style="width:100%">
            <caption class="title">Partner Management</caption>
            <thead>
                <tr>
                    <th>Partner Name</th>
                    <th>Contact Person Name</th>
                    <th>Account_Number</th>
                    <th>Created By</th>
                    <th>Status</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Check</th>
                    <th>Reject</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td>SUPER ADMIN</td>
                        <td>AmeyMore</td>
                        <td>1000000214</td>
                        <td><a href="" class="edit" data-toggle="modal" data-target="#editPartner"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a href="" class="delete" data-toggle="modal" data-target="#deletePartner"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td>SUPER ADMIN</td>
                        <td>nileshmishra</td>
                        <td>1000000206</td>
                        <td><a href="" class="edit" data-toggle="modal" data-target="#editPartner"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a href="" class="delete" data-toggle="modal" data-target="#deleteRole"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td>SUPER ADMIN</td>
                        <td>nbt321</td>
                        <td>1</td>
                        <td><a href="" class="edit" data-toggle="modal" data-target="#editPartner"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a href="" class="delete" data-toggle="modal" data-target="#deleteRole"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>*@

                @*@foreach (var item in Model.PartnerList)*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Partner_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Contact_Person_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account_Number)
                        </td>
                        <td>1</td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status_Msg)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CreatedByName)
                            </td>*@
                        @*<a asp-action="Edit" asp-route-id="item.">Edit</a>*@


                        @*<td><a href="@Url.Action("Edit","Controller")" id="item.userID"></a></td>*@

                        @*<td><a href="" class="edit" data-toggle="modal" data-target="#editPartner"><i class="fa fa-2 fa-pencil"></i></a></td>*@
                        <td><a href="" data-id="@item.Partner_Id" id="btnViewPartner" class="edit" data-toggle="modal"><i class="fa fa-file-text"></i></a></td>
                        <td><a href="" data-id="@item.Partner_Id" id="btnEditPartner" class="edit" data-toggle="modal"><i class="fa fa-2 fa-pencil"></i></a></td>

                        @if (@item.Status_Msg == "New")
                        {
                            <td><a href="" data-id="@item.Partner_Id" id="btnCheckPartner" class="edit" data-toggle="modal"><i class="fa fa-2 fa-check"></i></a></td>
                            <td><a href="" data-id="@item.Partner_Id" id="btnReject" class="edit" data-toggle="modal"><i class="fa fa-2 fa-window-close-o"></i></a></td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                        }

                        @*<td><button class="btn btn-aqua btn-sm"><i class="fa fa-check"></i> Check</button></td>
                            <td><button class="btn btn-red btn-sm"><i class="fa fa-times"></i> Reject</button></td>*@
                        <td><a href="" data-id="@item.Partner_Id" id="btnDelete" class="delete" data-toggle="modal"><i class="fa fa-2 fa-trash"></i></a></td>

                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="newPartner">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">New Partner</span></h4>
                <button type="button" class="close" data-dismiss="modal" id="ClosePartner">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="">Partner Name<span class="star">*</span></label>
                            <input type="text" id="PartnerName" class="form-control" maxlength="100" required onkeypress="return isAlphaNumeric(event)" />
                            <span id="PartnerNameMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Mobile Number<span class="star">*</span></label>
                            <input type="text" id="MobileNumber" class="form-control" maxlength="10" onkeypress="return isNumber(event)" />
                            <span id="MobileNumberMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Landline<span class="star">*</span></label>
                            <input type="text" id="Landline" class="form-control" maxlength="12" onkeypress="return isNumber(event)" />
                            @*<p class="error-text">enter valid Landline Number</p>*@
                            <span id="LandlineMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class=""> Email ID<span class="star">*</span></label>
                            <input type="text" id="EmailID" class="form-control" maxlength="50" />
                            <span id="EmailIDMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Office Address<span class="star">*</span></label>
                            <input type="text" id="OfficeAddress" class="form-control" maxlength="300" onkeypress="return isAlphaNumeric(event)" />
                            <span id="OfficeAddressMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Pin code<span class="star">*</span></label>
                            <input type="text" id="Pincode" class="form-control" maxlength="6" />
                            <span id="PincodeMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">State<span class="star">*</span></label>
                            <input type="text" id="State" class="form-control" maxlength="20" />
                            <span id="StateMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">City<span class="star">*</span></label>
                            <input type="text" id="City" class="form-control" maxlength="20" />
                            <span id="CityMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">PAN<span class="star">*</span></label>
                            <input type="text" id="PAN" class="form-control" maxlength="10" />
                            @*<p class="error-text"> Provide PAN</p>*@
                            <span id="PANMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Contact Person Name<span class="star">*</span></label>
                            <input type="text" id="ContactPersonName" class="form-control" maxlength="100" onkeypress="return alphaOnly(event)" />
                            <span id="ContactPersonNameMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Contact Person Number<span class="star">*</span></label>
                            <input type="text" id="ContactPersonNumber" class="form-control" maxlength="10" onkeypress="return isNumber(event)" />
                            <span id="ContactPersonNumberMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Account Number<span class="star">*</span></label>
                            <input type="text" id="AccountNumber" class="form-control" maxlength="50" />
                            @*<p class="error-text"> enter a valid account number</p>*@
                            <span id="AccountNumberMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">IFSC<span class="star">*</span></label>
                            <input type="text" id="IFSC" class="form-control" maxlength="11" />
                            @*<p class="error-text">enter valid IFSC code</p>*@
                            <span id="IFSCMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Central GST Number<span class="star">*</span></label>
                            <input type="text" id="CentralGSTNumber" class="form-control" maxlength="15" />
                            <span id="CentralGSTNumberMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">State GST Number<span class="star">*</span></label>
                            <input type="text" id="StateGSTNumber" class="form-control" maxlength="15" />
                            <span id="StateGSTNumberMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">GST Address<span class="star">*</span></label>
                            <input type="text" id="GSTAddress" class="form-control" maxlength="300" />
                            <span id="GSTAddressMsg" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Website URL<span class="star">*</span></label>
                            <input type="text" id="WebsiteURL" class="form-control" maxlength="100" />
                            @*<p class="error-text">provide a valid Website URL</p>*@
                            <span id="WebsiteURLMsg" class="error-text"></span>
                        </div>
                    </div>
                </form>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="btnInsertPartner">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="viewPartner">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">View Partner</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class=""><b>Partner Name : </b></label>
                            <label id="PartnerName_V" class=""></label>
                        </div>

                        <div class="form-group col-6">
                            <label class=""><b>Mobile Number : </b></label>
                            <label id="MobileNumber_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Landline : </b></label>
                            <label id="Landline_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Email ID : </b></label>
                            <label id="Email_V" class=""></label>

                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Office Address : </b></label>
                            <label id="OfficeAddress_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Pin code : </b></label>
                            <label id="Pincode_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>State : </b></label>
                            <label id="State_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>City : </b></label>
                            <label id="City_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>PAN : </b></label>
                            <label id="PAN_V" class=""></label>

                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Contact Person Name : </b></label>
                            <label id="ContactPersonName_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Contact Person Number : </b></label>
                            <label id="ContactPersonNumber_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Account Number : </b></label>
                            <label id="AccountNumber_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>IFSC : </b></label>
                            <label id="IFSC_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Central GST Number : </b></label>
                            <label id="CentralGSTNumber_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>State GST Number : </b></label>
                            <label id="StateGSTNumber_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>GST Address : </b></label>
                            <label id="GSTAddress_V" class=""></label>
                        </div>
                        <div class="form-group col-6">
                            <label class=""><b>Website URL : </b></label>
                            <label id="WebsiteURL_V" class=""></label>
                        </div>
                    </div>
                </form>
                @*<div class="text-right">
                        <button type="submit" class="btn btn-aqua btn-sm" id="btnUpdatePartner">Submit</button>
                        <input type="hidden" id="Partner_Id_E" />
                    </div>*@
            </div>
        </div>
    </div>
</div>





<div class="modal fade" id="editPartner">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Edit Partner</span></h4>
                <button type="button" class="close" data-dismiss="modal" id="ClosePartnerEdit">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="form-group col-6">
                            <label class="">Partner Name<span class="star">*</span></label>
                            <input type="text" id="PartnerName_E" class="form-control" maxlength="100" onkeypress="return isAlphaNumeric(event)" />
                            <span id="PartnerNameMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Mobile Number<span class="star">*</span></label>
                            <input type="text" id="MobileNumber_E" class="form-control" maxlength="10" onkeypress="return isNumber(event)" />
                            <span id="MobileNumberMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Landline<span class="star">*</span></label>
                            <input type="text" id="Landline_E" class="form-control" maxlength="12" onkeypress="return isNumber(event)" />
                            <span id="LandlineMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class=""> Email ID<span class="star">*</span></label>
                            <input type="text" id="Email_E" class="form-control" maxlength="50" />
                            <span id="EmailIDMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Office Address<span class="star">*</span></label>
                            <input type="text" id="OfficeAddress_E" class="form-control" maxlength="300" onkeypress="return isAlphaNumeric(event)" />
                            <span id="OfficeAddressMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Pin code<span class="star">*</span></label>
                            <input type="text" id="Pincode_E" class="form-control" maxlength="6" />
                            <span id="PincodeMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">State<span class="star">*</span></label>
                            <input type="text" id="State_E" class="form-control" maxlength="20" />
                            <span id="StateMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">City<span class="star">*</span></label>
                            <input type="text" id="City_E" class="form-control" maxlength="20" />
                            <span id="CityMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">PAN<span class="star">*</span></label>
                            <input type="text" id="PAN_E" class="form-control" maxlength="10" />
                            <span id="PANMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Contact Person Name<span class="star">*</span></label>
                            @*<input type="text" id="ContactPersonName_E" class="form-control" maxlength="100" onkeypress="return alphaOnly(event)" />*@
                            <input type="text" id="ContactPersonName_E" class="form-control" maxlength="100" />
                            <span id="ContactPersonNameMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Contact Person Number<span class="star">*</span></label>
                            <input type="text" id="ContactPersonNumber_E" class="form-control" maxlength="10" />
                            <span id="ContactPersonNumberMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Account Number<span class="star">*</span></label>
                            <input type="text" id="AccountNumber_E" class="form-control" maxlength="50" />
                            <span id="AccountNumberMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">IFSC<span class="star">*</span></label>
                            <input type="text" id="IFSC_E" class="form-control" maxlength="10" />
                            <span id="IFSCMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Central GST Number<span class="star">*</span></label>
                            <input type="text" id="CentralGSTNumber_E" class="form-control" maxlength="15" />
                            <span id="CentralGSTNumberMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">State GST Number<span class="star">*</span></label>
                            <input type="text" id="StateGSTNumber_E" class="form-control" maxlength="15" />
                            <span id="StateGSTNumberMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">GST Address<span class="star">*</span></label>
                            <input type="text" id="GSTAddress_E" class="form-control" maxlength="300" />
                            <span id="GSTAddressMsg_E" class="error-text"></span>
                        </div>
                        <div class="form-group col-6">
                            <label class="">Website URL<span class="star">*</span></label>
                            <input type="text" id="WebsiteURL_E" class="form-control" maxlength="100" />
                            <span id="WebsiteURLMsg_E" class="error-text"></span>
                        </div>
                    </div>
                </form>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="btnUpdatePartner">Submit</button>
                    <input type="hidden" id="Partner_Id_E" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectPartner">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Reject Partner</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Are you sure you want to Reject Partner?</label>
                        </div>
                        <div class="form-group">
                            <label class="label">Reason for Rejection<span class="star">*</span></label><br />
                            <input type="text" id="rejectReason" class="form-control" maxlength="100" />
                            <span id="rejectReasonMsg" class="error-text"></span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="btnRejectPartner">Yes</button>
                    <button type="submit" class="btn btn-aqua btn-sm" data-dismiss="modal">No</button>
                    <input type="hidden" id="Partner_Id_R" />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="deletePartner">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Delete Partner</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Are you sure you want to delete Partner?</label>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="btnDeletePartner">Yes</button>
                    <button type="submit" class="btn btn-aqua btn-sm" data-dismiss="modal">No</button>
                    <input type="hidden" id="Partner_Id_D" />
                </div>
            </div>
        </div>
    </div>
</div>

