﻿@model EntityLayer.ReportsEL;

@{
    ViewData["Title"] = "ReconReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/Reports/ReconReport.js"></script>
}

<div class="container-fluid bg-white main-container">
    <form class="mb-60">
        <div class="row">
            <div class="form-group col-6">
                <div class="row">
                    <label class="label col-4 text-right">From Date (Transaction)</label>
                    <div id="datepicker" class="input-group date col-8" data-date-format="mm-dd-yyyy">
                        <input class="form-control" type="text" id="txtFromDate" readonly />
                        <span class="input-group-addon inside-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group col-6">
                <div class="row">
                    <label class="label col-4 text-right">To Date (Transaction)</label>
                    <div id="datepicker1" class="input-group date col-8" data-date-format="mm-dd-yyyy">
                        <input class="form-control" type="text" id="txtToDate" readonly />
                        <span class="input-group-addon inside-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                    <div class="col-sm-2 col-lg-2 col-md-2">

                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <div class="row">
                    <div class="form-group col-4"></div>
                    <div class="input-group col-8">
                        <span style="font-size:15px" id="txtFromDateMsg" class="label error-text"></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <div class="row">
                    <div class="form-group col-4"></div>
                    <div class="input-group date col-8">
                        <span style="font-size:15px" id="txtToDateMsg" class="label error-text"></span>
                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <div class="row">
                    <label class="col-4 label text-right">Select Status</label>
                    <div class="input col-8">
                        <select class="form-control " id="ddlReconStatus">
                            <option value="-1">Select Status</option>
                            <option value="0">ALL</option>
                            <option value="1">SUCCESS</option>
                            <option value="2">FAILED</option>
                            <option value="3">TIMEOUT</option>
                            <option value="4">OTHERS</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group col-6">
                <div class="row">
                    <label class="label col-4 text-right">RRN</label>
                    <div class="input col-8">
                        <input type="text" id="txtRRN" maxlength="12" placeholder="RRN" class="form-control" />
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-6">
            <div class="row">
                <div class="form-group col-4"></div>
                <div class="input-group date col-8">
                    <span style="font-size:15px" id="ddlReconStatusMsg" class="label error-text"></span>
                </div>
            </div>
        </div>

        <div class="form-group col-6">
            <div class="row">
                <div class="form-group col-4"></div>
                <div class="input-group date col-8">
                    <span style="font-size:15px" id="txtRRNMsg" class="label error-text"></span>
                    <span id="txtToDateMsg" class="label "></span>
                </div>
            </div>
        </div>

        <div class="form-group text-right">
            <button class="btn btn-aqua" id="btnView"><i class="fa fa-eye"></i> VIEW</button>
            <button class="btn btn-aqua" id="btnDownload"><i class="fa fa-download"></i> DOWNLOAD</button>
        </div>
    </form>

    <div class="management-table">
        <hr>
        <table id="reconReportTable" class="table table-responsive table-bordered-collapsed table-hover table-striped" style="width:100%">
            <caption class="title">Recon Report</caption>
            <thead>
                <tr>
                    <th>SCENARIO NO</th>
                    <th>RRN NO</th>
                    <th>AMOUNT</th>
                    <th>SWITCH RESPONSE CODE</th>
                    <th>NPCI RESPONSE CODE</th>
                    <th>CURRENT CYCLE</th>
                    <th>OPERATION ACTION</th>
                    <th>NEXT CYCLE</th>
                    <th>REVISED OPERATION ACTION</th>
                    <th>FINAL STATUS</th>
                    <th>CYCLE TIME</th>
                    <th>RECON DATE</th>
                    <th>TCCRET STATUS</th>
                    <th>TCCRET UPDATED DATE</th>
                </tr>
            </thead>
            <tbody>
                @*<tr>
                        <td>8,9</td>
                        <td>9.09E+11</td>
                        <td>20</td>
                        <td>0</td>
                        <td>8</td>
                        <td>MATCHED</td>
                        <td>AWAITING TCC/RET</td>
                        <td>NA</td>
                        <td></td>
                        <td>TIMEOUT</td>
                        <td>2C</td>
                        <td>08-02-2019 0:00</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8,9</td>
                        <td>9.09E+11</td>
                        <td>20</td>
                        <td>0</td>
                        <td>8</td>
                        <td>MATCHED</td>
                        <td>AWAITING TCC/RET</td>
                        <td>NA</td>
                        <td></td>
                        <td>TIMEOUT</td>
                        <td>2C</td>
                        <td>08-02-2019 0:00</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>8,9</td>
                        <td>9.09E+11</td>
                        <td>20</td>
                        <td>0</td>
                        <td>8</td>
                        <td>MATCHED</td>
                        <td>AWAITING TCC/RET</td>
                        <td>NA</td>
                        <td></td>
                        <td>TIMEOUT</td>
                        <td>2C</td>
                        <td>08-02-2019 0:00</td>
                        <td></td>
                        <td></td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>