﻿
@{
    ViewData["Title"] = "Check Adjustment File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/Adjustment/CheckAdjustmentFile.js"></script>
}

<div class="container-fluid bg-white main-container">

    <div class="form-group text-right">
        @*<button class="btn btn-aqua" data-toggle="modal" data-target="#UploadFile"><i class="fa fa-plus"></i>  Upload File</button>*@
        <button class="btn btn-aqua" data-toggle="modal" data-target="#CheckFile" onclick="location.href='@Url.Action("Index","AdjustmentFileManagement")'"><i class="fa fa-backward"></i>  BACK</button>

    </div>
    <div id="menuTccRet" class="tab-pane in active">
        <div class="top-section-heading" style="font-weight:500"><center>CHECK ADJUSTMENT FILE</center></div>
        <div class="col-sm-12 col-lg-12 col-md-12">

            <div class="col-md-1 col-sm-1 col-sm-1 pull-right">
                <input type="button" id="btnRefresh" class="btn btn-primary" value="Refresh" />
            </div>
            <div class="col-md-1 col-sm-1 col-sm-1"></div>
        </div>
        @*Table Heading*@
        <div style="padding:3%;">
            <table id="TccRetReportTable" class="table table-bordered row-border table-hover display compact" style="padding:0; width : 100%;">
                <thead>
                    <tr>
                        <th>SR. NO.</th>
                        <th>File Name</th>
                        <th>Date</th>
                        <th>Uploaded By</th>
                        <th>Remarks</th>
                        <th>Check</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>


    <div class="modal fade" id="commentTccRetRejectModal" role="dialog" style="overflow-y: initial !important;">
        <div class="modal-dialog" style="width:40%;">
            <div class="modal-content">
                <div class="modal-header" style="color: darkblue; font-weight: bolder;">
                    <button type="button" id="dismis" class="close" data-dismiss="modal" style="font-size: xx-large;">&times;</button>
                    <h4 style="font-weight: 600; color:darkblue" class="modal-title" id="myModalLabel">REJECTION DESCRIPTION</h4>
                </div>
                <div class="modal-body" id="commentTccRetRejecBody" style="max-height: calc(100vh - 200px); overflow-y: auto;">
                    <form id="frmcommentTccRetRejec" class="form-horizontal" role="form" name="frmcommentTccRetRejec">
                        <div>
                            <section class="row">
                                <div class="row  col-sm-12 col-lg-12 col-md-12">
                                    <span id="nameRMsg" style="color: olivedrab;background-color: lightgrey;font-weight: bold;"></span><br>
                                    <textarea class="form-control my-border-style1" maxlength="100" id="nameRejectionComment" name="nameRejectionComment" required></textarea>
                                    <span class="pull-right" for="nameRejectionComment"><label id="CountChar" class="" for="CountChar"> 0</label> /100</span>
                                </div><br />
                                <div class="row col-sm-12 col-lg-12 col-md-12">
                                    <br />
                                    <input type="button" id="saveRejectCommentBtn" class="col-sm-4  btn btn-primary" value="Save" />
                                    <input type="hidden" name="tccRetIdHidden" id="tccRetIdHidden">
                                </div>
                            </section>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
