﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link href="~/assets/css/datepicker.css" rel="stylesheet" />
    <link href="~/assets/css/pikaday.css" rel="stylesheet" />

    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/assets/js/pikaday.js"></script>
    <script src="~/js/Adjustment/UploadAdjustmentFile.js"></script>
    <script src="~/js/Adjustment/CheckAdjustmentFile.js"></script>
    <script src="~/js/Adjustment/ProcessAdjustmentFile.js"></script>

}

<div class="container-fluid bg-white main-container">

    <div class="form-group text-right">
        @*<button class="btn btn-aqua" data-toggle="modal" data-target="#UploadFile"><i class="fa fa-plus"></i>  Upload File</button>*@
        <button class="btn btn-aqua" data-toggle="modal" data-target="#CheckFile" onclick="location.href='@Url.Action("CheckAdjustmentFile","AdjustmentFileManagement")'"><i class="fa fa-check"></i>  Check File</button>
        <button class="btn btn-aqua" data-toggle="modal" data-target="#ProcessFile" onclick="location.href='@Url.Action("ProcessAdjustmentFile","AdjustmentFileManagement")'"><i class="fa fa-file"></i>  Process File</button>
    </div>

    <div id="menu12" class="tab-pane in active">

        <div id="divFileUploadTccRet">
            <div class="top-section-heading" style="font-weight:500"><center>UPLOAD ADJUSTMENT FILE</center></div>
            <div>
                <form id="frmTccRet" style="margin:4px;">
                    <div>
                        <section>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <a class="col-sm-offset-9" id="showFileUploadStatusDivTccRet" href="#"><b>GO TO FILE UPLOAD STATUS</b></a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"> </div><div class="col-lg-12 col-md-12 col-sm-12"> </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"> </div><div class="col-lg-12 col-md-12 col-sm-12"> </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"> </div><div class="col-lg-12 col-md-12 col-sm-12"> </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"> </div><div class="col-lg-12 col-md-12 col-sm-12"> </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"> </div><div class="col-lg-12 col-md-12 col-sm-12"> </div>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div class="row col-lg-2 col-md-2 col-sm-2">

                                </div>
                                <div class="row col-lg-4 col-md-4 col-sm-4">
                                    <span id="MsgtxtDate" class="badge text-danger"></span>
                                </div>
                                <div class="row col-lg-2 col-md-2 col-sm-2">

                                </div>
                                <div class="row col-lg-4 col-md-4 col-sm-4">
                                    <span id="MsgTccRetFile" class="badge text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="col-lg-12 col-md-12 col-sm-12"></div>
                            <div class="row col-lg-12 col-md-12 col-sm-12">
                                <div class="row col-lg-2 col-md-2 col-sm-2">
                                    <label class="custom-label-cls">Date</label><span class="fail-custom-text text-bold">*</span>
                                </div>
                                <div class="row col-lg-4 col-md-4 col-sm-4">
                                    <input class="form-control my-border-style1" type="text" name="txtDate" id="txtDate" placeholder="DD/MM/YYYY" readonly="readonly" required />
                                </div>
                                <div class="row col-lg-2 col-md-2 col-sm-2">
                                    <label class="custom-label-cls">Upload Adjustment File</label><span class="fail-custom-text text-bold">*</span>
                                </div>
                                <div class="row col-lg-4 col-md-4 col-sm-4">
                                    <input class="form-control my-border-style1" style="width:85%;" type="file" id="TccRetFile" name="TccRetFile" required />
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-12 col-md-12" id="submitDiv" style="top:10px">
                                <br />
                                @*<div class="col-sm-2 col-lg-2 col-md-2"></div>*@
                                @*<div class="col-sm-4 col-lg-4 col-md-4">
                                    <input type="button" id="btnReset" class="form-control btn btn-primary custom-btn-style1" value="RESET" />
                                    </div>*@
                                <div class="row col-sm-2 col-lg-2 col-md-2 pull-right">
                                    <button id="btnUploadFile" class="btn btn-aqua" data-toggle="modal"><i class="fa fa-upload"></i>UPLOAD</button>
                                </div>
                                @*<div class="col-sm-2 col-lg-2 col-md-2"></div>*@
                            </div>
                        </section>
                    </div>
                </form>
            </div>
        </div>

        <div id="divFileUploadStatusTccRet">
            <div class="top-section-heading">FILE'S UPLOAD STATUS</div>
            <div style="padding:1%;">
                <input type="button" id="btnRefreshTccRet" class="btn btn-primary btn-xs pull-left" value="REFRESH" /> <br />
                <a id="showFileUploadDivTccRet" href="#" class="pull-right">GO BACK</a>
                <table id="recoTable" class="table table-bordered row-border table-hover display compact" style="padding:0; width : 100%;">
                    <thead>
                        <tr>
                            <th>SR. NO.</th>
                            <th>STATUS</th>
                            <th>DATE</th>
                            <th>FILE NAME</th>
                            <th>REMARK</th>
                            <th>MAKER ID</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>

    </div>
</div>