﻿
@{
    ViewData["Title"] = "Process Adjustment File";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/Adjustment/ProcessAdjustmentFile.js"></script>
}
<div class="container-fluid bg-white main-container">

    <div class="form-group text-right">
        @*<button class="btn btn-aqua" data-toggle="modal" data-target="#UploadFile"><i class="fa fa-plus"></i>  Upload File</button>*@
        <button class="btn btn-aqua" data-toggle="modal" data-target="#CheckFile" onclick="location.href='@Url.Action("Index","AdjustmentFileManagement")'"><i class="fa fa-backward"></i>  BACK</button>

    </div>
    <div id="menuTccRet" class="tab-pane in active">
        <div class="top-section-heading" style="font-weight:500"><center>PROCESS ADJUSTMENT FILE</center></div>

        @*Table Heading*@
        <div style="padding:1%;">
            <table id="TccRetReportTable" class="table table-bordered row-border table-hover display compact" style="padding:0; width : 100%;">
                <thead>
                    <tr>
                        <th>SR. NO.</th>
                        <th>File Name</th>
                        <th>Date</th>
                        <th>Uploaded By</th>
                        <th>Remarks</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

