﻿@model IEnumerable<EntityLayer.UserEL>

@{
    ViewData["Title"] = "UserManagement";
}

<div class="container-fluid bg-white main-container">
    <div class="alert alert-success fade-alert d-none" role="alert">
        User deleted successfully.
    </div>
    @*<div class="alert alert-danger fade-alert" role="alert">
            Error
        </div>*@
    <div class="form-group text-right">
        <button class="btn btn-aqua" data-toggle="modal" data-target="#createUser"><i class="fa fa-plus"></i> Create User</button>
    </div>
    <div class="management-table">
        <table id="roleManagementTable" class="table table-bordered-collapsed table-hover table-striped" style="width:100%">
            <caption class="title">User Management</caption>
            <thead>
                <tr>
                    <th>Role Name</th>
                    <th>Login User Name</th>
                    <th>Created By</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role_Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Login_Username)
                        </td>
                        <td>1</td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CreatedByName)
                            </td>*@
                        @*<a asp-action="Edit" asp-route-id="item.">Edit</a>*@


                        @*<td><a href="@Url.Action("Edit","Controller")" id="item.userID"></a></td>*@

                        <td><a href="" data-id="@item.User_Id" class="edit" data-toggle="modal" data-target="#editUser"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a data-id="@item.User_Id" class="delete" data-toggle="modal" data-target="#deleteUser"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>
                }
                @*<tr>
                        <td>SUPER ADMIN</td>
                        <td>nileshmishra</td>
                        <td>1000000206</td>
                        <td><a href="" class="edit" data-toggle="modal" data-target="#editUser"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a href="" class="delete" data-toggle="modal" data-target="#deleteUser"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td>SUPER ADMIN</td>
                        <td>nbt321</td>
                        <td>1</td>
                        <td><a href="" class="edit" data-toggle="modal" data-target="#editUser"><i class="fa fa-2 fa-pencil"></i></a></td>
                        <td><a href="" class="delete" data-toggle="modal" data-target="#deleteUser"><i class="fa fa-2 fa-trash"></i></a></td>
                    </tr>*@
            </tbody>
        </table>
    </div>
</div>

<input id="hdnUserId" type="hidden" />

<div class="modal fade" id="createUser">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Create User</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label class="label"> Role <span class="star">*</span></label>
                                <select class="form-control" placeholder="Select Role" id="drpRole">
                                    <option>Admin</option>
                                    <option>Checker</option>
                                    <option>Maker</option>
                                    <option>Super Admin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label"> Login User Name <span class="star">*</span></label>
                                @*<input type="text" name="" class="form-control" placeholder="Role Name" />*@
                                <input id="txtUserName" class="form-control" placeholder="User Name" />
                                <span id="spnUserName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" id="btnCreateUser" class="btn btn-aqua btn-sm">Submit</button>
                    </div>
                </form>



                @*<div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label class="label"> Role <span class="star">*</span></label>
                                <select name="" class="form-control" placeholder="Select Role">
                                    <option>Admin</option>
                                    <option>Checker</option>
                                    <option>Maker</option>
                                    <option>Super Admin</option>
                                    <option>Test</option>
                                    <option>Test A</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label"> Login User Name <span class="star">*</span></label>
                                <input type="text" name="" class="form-control" placeholder="Role Name" />
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-aqua btn-sm">Submit</button>
                    </div>*@
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editUser">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Edit User</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label class="label"> Role <span class="star">*</span></label>
                                <select class="form-control" placeholder="Select Role" id="drpRole_E">
                                    @*<label class="label"> Role <span class="star">*</span></label>
                                        <select name="" class="form-control" placeholder="Select Role">*@
                                    <option>Admin</option>
                                    <option>Checker</option>
                                    <option>Maker</option>
                                    <option>Super Admin</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="label"> Login User Name <span class="star">*</span></label>
                                @*<input type="text" name="" class="form-control" placeholder="Role Name" />*@
                                <input id="txtUserName_E" class="form-control" placeholder="User Name" />
                                <span class="text-danger" id="spnUserName_E"></span>
                                @*@Html.Hidden("id", "", new { @class = "hiddenid" })*@
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-aqua btn-sm" id="btnUpdateUser">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUser">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Delete User</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label class="label"> Are you sure you want to delete User?</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        @*<input type="hidden" class="hiddenid" />*@
                        <button type="submit" class="btn btn-aqua btn-sm" id="btnDeleteUserYes">Yes</button>
                        <button type="button" class="btn btn-aqua btn-sm" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/User/UserManagement.js"></script>
}