﻿@model EntityLayer.NTSLEL;

@{
    ViewData["Title"] = "NtslRawFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    <script type="text/javascript">
        var Response = '@TempData["response"]';
    </script>
    <script src="~/assets/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/js/Recon/NtslRawFile.js"></script>
}


<div class="container-fluid bg-white main-container">

    @*<div class="alert alert-success" role="alert">
            Files has been uploaded successfully. <a href="">GO TO FILE UPLOAD STATUS</a>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>*@

    @*@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
            {
                <div class="alert-danger">
           <strong>Error!</strong> danger">@ViewData.ModelState["Error"].Errors.First().ErrorMessage
        </div>
            }*@

    @*<div class="alert alert-danger fade-alert" role="alert">
            File Upload Error.
        </div>*@

    <form enctype="multipart/form-data" asp-action="UploadNtslRowFile" method="post">
        <div class="upload-files mb-60">
            <div class="row">
                @*<div class="form-group col-6">
                        <label>Date <span class="star">*</span></label>
                        <div id="instlDate" class="input-group date" data-date-format="mm-dd-yyyy">
                            <input class="form-control" type="text" readonly />
                            <span class="input-group-addon inside-icon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>*@
                @*<div class="form-group col-6">
                        <label>Cycle <span class="star">*</span></label>
                        <select class="form-control">
                            <option>Select Cycle</option>
                            <option>2C - 11:00PM To 10:00AM</option>
                            <option>3C - 10:00AM To 2:00PM</option>
                            <option>4C - 2:00PM To 5:30Pm</option>
                            <option>1C - 5:30PM To 11:00PM</option>
                            <option>All-Day</option>
                        </select>
                    </div>*@
                <div class="form-group col-6">
                    <label>Upload NSTL File <span class="star">*</span></label>
                    <input asp-for=NtslFile type="File" class="form-control">
                </div>
                <div class="form-group col-6">
                    <label>Upload RAW File <span class="star">*</span></label>
                    <input asp-for=RawFile type="File" class="form-control">
                </div>
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-aqua"><i class="fa fa-upload"></i> Upload</button>
                <button type="button" id="btnCheck" class="btn btn-aqua"><i class="fa fa-check"></i> Check File</button>
                <button type="button" id="btnProcess" class="btn btn-aqua"><i class="fa fa-tasks"></i> Process File</button>
            </div>
        </div>
    </form>
    <div id="divUploadFileStatus" class="upload-file-status">
        <div class="management-table">
            <table id="uploadStatus" class="table table-bordered-collapsed table-hover table-striped" style="width:100%">
                <caption class="title">File's Upload Status <i class="fa fa-refresh"></i></caption>
                <thead>
                    <tr>
                        <th>SR. NO.</th>
                        <th>STATUS</th>
                        <th>RECON DATE</th>
                        <th>NTSL FILE NAME</th>
                        <th>RAW FILE NAME</th>
                        <th>REMARK</th>
                        <th>MAKER ID</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td>1</td>
                            <td>4</td>
                            <td>2019-09-24</td>
                            <td>IMPSNTSLYBA240919_2C.xlsx</td>
                            <td>ACQRPYBA240919_2C.mYBA</td>
                            <td>Done</td>
                            <td>1</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
    <div id="divCheckFile" class="check-file">
        <div class="compare-table">
            <table class="table table-bordered-collapsed table-hover table-striped ">
                <caption class="title">Check Recon <i class="fa fa-refresh"></i></caption>
                <thead>
                    <tr>
                        <th></th>
                        <th>NTSL File Name</th>
                        <th>RAW File Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Uploaded By</td>
                        <td id="UploadedBy"></td>
                        <td id="UploadedBy_R"></td>
                    </tr>
                    <tr>
                        <td>Recon Date</td>
                        <td id="ReconDate"></td>
                        <td id="ReconDate_R"></td>
                    </tr>
                    <tr>
                        <td>File Name</td>
                        <td id="FileName"></td>
                        <td id="FileName_R"></td>
                    </tr>
                    <tr>
                        <td>Remarks</td>
                        <td id="Remark"></td>
                        <td id="Remark_R"></td>
                    </tr>
                    <tr>
                        <td>00 Amount</td>
                        <td id="SuccessAmt"></td>
                        <td id="SuccessAmt_R"></td>
                    </tr>
                    <tr>
                        <td>00 Count</td>
                        <td id="SuccessCnt"></td>
                        <td id="SuccessCnt_R"></td>
                    </tr>
                    <tr>
                        <td>08 Amount</td>
                        <td id="FailAmt"></td>
                        <td id="FailAmt_R"></td>
                    </tr>
                    <tr class="mismatch">
                        <td>08 Count</td>
                        <td id="FailCnt"></td>
                        <td id="FailCnt_R"></td>
                    </tr>
                    <!-- uncomment for no data available -->
                    <!-- <tr>
                      <td colspan="15" class="text-center">No data available</td>
                    </tr> -->
                    <tr>
                        <td colspan="3" class="text-right bg-white">
                            <input type="hidden" id="ReconFileId" />
                            <button id="btnDoCheck" class="btn btn-aqua btn-sm"><i class="fa fa-check"></i> Check</button>
                            <button id="btnDoReject" class="btn btn-red btn-sm"><i class="fa fa-times"></i> Reject</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- uncomment if the for the horizontal table -->
        <!-- <div class="management-table">
            <table id="checkFile" class="table table-bordered-collapsed table-hover table-striped table-responsive" style="width:100%">
                <caption class="title">Check Recon <i class="fa fa-refresh"></i></caption>
                <thead>
                    <tr>
                        <th>Uploaded By</th>
                        <th>Recon Date</th>
                        <th>NTSL File Name</th>
                        <th>RAW File Name</th>
                        <th>Remarks</th>
                        <th>NTSL 00 Amount</th>
                        <th>NTSL 00 Count</th>
                        <th>RAW 00 Amount</th>
                        <th>RAW 00 Count</th>
                        <th>NTSL 08 Amount</th>
                        <th>NTSL 08 Count</th>
                        <th>RAW 08 Amount</th>
                        <th>RAW 08 Count</th>
                        <th>CHECK</th>
                        <th>REJECT</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="15" class="text-center">No data available</td>
                    </tr>
                </tbody>
            </table>
        </div> -->
    </div>
    <div id="divProcessFile" class="process-file">
        <div class="management-table">
            <table id="processFile" class="table table-responsive table-bordered-collapsed table-hover table-striped" style="width:100%">
                <caption class="title">Do Recon <i class="fa fa-refresh"></i></caption>
                <thead>
                    <tr>
                        <th>Uploaded By</th>
                        <th>Recon Date</th>
                        <th>NTSL File Name</th>
                        <th>RAW File Name</th>
                        <th>Remarks</th>
                        <th>NTSL 00 Amount</th>
                        <th>NTSL 00 Count</th>
                        <th>RAW 00 Amount</th>
                        <th>RAW 00 Count</th>
                        <th>NTSL 08 Amount</th>
                        <th>NTSL 08 Count</th>
                        <th>RAW 08 Amount</th>
                        <th>RAW 08 Count</th>
                        <th>ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                            <td>1</td>
                            <td>2019-09-24</td>
                            <td>IMPSNTSLYBA240919_2C.xlsx</td>
                            <td>ACQRPYBA240919_2C.mYBA</td>
                            <td>Done</td>
                            <td>144943084.42</td>
                            <td>27832</td>
                            <td>144943084.42</td>
                            <td>27832</td>
                            <td>78303.19</td>
                            <td>13</td>
                            <td>78303.19</td>
                            <td>13</td>
                            <td>
                                <a href=""><button class="btn btn-sm btn-aqua">Recon Done</button></a>
                            </td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="alertNTSL">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Alert</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-12 ">
                            <div class="form-group">
                                <label class="label" id="lblAlertNTSL"></label>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        @*<input type="hidden" class="hiddenid" />*@
                        <button type="button" class="btn btn-aqua btn-sm" data-dismiss="modal">Ok</button>
                        @* <button type="button" class="btn btn-aqua btn-sm" data-dismiss="modal">No</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectRecon">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><span class="reject-modal-title">Reject Recon</span></h4>
                <button type="button" class="close" data-dismiss="modal">
                    <img class="object-fit" src="~/assets/images/cross-black.svg" alt="close" />
                </button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-group">
                            <label class="label"> Are you sure you want to Reject Recon?</label>
                        </div>
                        <div class="form-group">
                            <label class="label">Reason for Rejection<span class="star">*</span></label><br />
                            <input type="text" id="rejectReason" class="form-control" maxlength="100" />
                            <span id="rejectReasonMsg" class="error-text"></span>
                        </div>
                    </div>
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn-aqua btn-sm" id="btnRejectRecon">Yes</button>
                    <button type="submit" class="btn btn-aqua btn-sm" data-dismiss="modal">No</button>
                    @*<input type="hidden" id="ReconFileId_R" />*@
                </div>
            </div>
        </div>
    </div>
</div>
