﻿/*form logout dropdown content hover by Sandeep Kuril*/
.logoutdropbtn {
    background-color: white;
    color: #98272A;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f1f1f1;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }


.user-options a:hover {
    background-color: #085099;
}

.user-options a {
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.ChangeLogout alogout:hover {
    background-color: #ddd;
}

.user-options a {
    font-size: 14px;
    letter-spacing: 0.35px;
    color: #fff;
    text-decoration:none;
    padding: 12px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #2179d1;
}

.dropdown:hover .dropbtn {
    background-color: #063e75;
}
/*.user-options alogout:hover {
    background-color: #063e75;
}*/


.alogout {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #2179d1;
    text-decoration: none;
}
    .alogout:hover {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: #063e75;
        text-decoration: none;
    }
.divLogout {
    display: block;
    top: 50px;
    text-decoration: none;
}

/*End*/
