﻿@model EntityLayer.LoginEL


@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Indusind Recon Panel</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap-reboot.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery.blockUI.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/js/Helper/aes.js"></script>
    <script src="~/js/Helper/Main.js"></script>
    <script src="~/js/Login.js"></script>

</head>
<body class="">
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-2 logo p-0">
                    <img src="assets/images/logo.jpg" style="width:100%" alt="logo" />
                </div>
                <div class="col-8 text-center align-self-center">
                    <div class="main-title">Indusind Bank Recon Panel</div>

                </div>
            </div>
        </div>
    </header>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5 login-wrapper">
                    <div class="login-details text-center">
                        <div class="title">LOGIN</div>
                        <form asp-action="PortalLogin" name="frm" class="form-group error">
                            <div class="enter-field">
                                <div class="form-group error">
                                    <input asp-for="UserName" class="form-control" onkeypress="return isAlphaNumeric(event)" placeholder="Enter User Name" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group password-input error">
                                    <input asp-for="Password" type="Password" class="form-control" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                    @*<div class="view-password" onclick="showPassword()"></div>*@
                                </div>
                            </div>
                            <div class="form-group">
                                @*<button class="btn btn-aqua btn-block">Login</button>*@
                                <input type="submit" id="btnLogin" value="Login" class="btn btn-aqua btn-block" />
                                @if (ViewData["ErrorMessage"] != null)
                                {
                                    <p class="error-msg">@ViewData["ErrorMessage"].ToString()</p>
                                }

                            </div>
                            <div class="form-group">
                                <input type="hidden" asp-for="EncValue" class="form-control" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>